body {
  background-color: #e6e6fa;
  display: block;
}

form {
  max-width: 650px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid;
  border-radius: 10px;
  background-color: #f5fffa;
  font-family: Arial, sans-serif;
  margin-bottom: 30px;
}
p {
  font-size: 25px;
  color: #333;
}
h1 {
  font-size: 30px;
}

#box {
  background-color: #832bd1;
  color: white;
}
input[type='text'] {
  border-radius: 5px;
  background-color: #e6e6fa;
  border: none;
  padding: 8px;
  margin: 10px;
  width: 90%;
}
input[type='number'] {
  margin: 10px;
  border-radius: 5px;
  background-color: #e6e6fa;
  border: none;
  padding: 8px;
  width: 90%;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
  background-color: #e6e6fa;
  padding: 15px;
  border-radius: 15px;
}
label:hover {
  background-color: #c786ff;
}
input[type='radio'] {
  margin-right: 10px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  font-size: 18px;
  color: white;
  background-color: #832bd1;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #b25aff;
}

.feedback {
  font-size: 55px;
  margin-top: 10px;
}

.alert {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
